@page {
    margin: 0.5cm;
    font-family: 'Helvetica';
}
body, html{

    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main_box{
    margin: 0;
    padding: 0;
    width: 100%;
}
.main_header{
    background: #ebebeb;
    padding: 10px;
    margin-bottom: 20px;
}
.main_header .title_text{
    width: 40%;
    display: inline-block;
}
.main_header .location_build_up{
    display: inline-block;
    width: 60%;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: right;
}
.gallery_box{
    text-align: center;
}
.gallery_box .top_shadow, .gallery_box .bott_shadow{
    width: 750px;
    height: 14px;
}
.gallery_box .wpl_gallery_images , .gallery_box .no_image_box{
    border: 2px solid #666666;
    margin: 10px 7px;
    display: inline-block;
    vertical-align: top;
}
.gallery_box .top_shadow, .gallery_box .bot_shadow{
    height: 10px;
}
.detail_boxes{
    vertical-align: top;
}
.detail_boxes_tables{
    border: 1px solid #ebebeb;
    width: 100%;
    padding: 10px;
    vertical-align: top;
    margin-bottom: 10px;
}
.detail_boxes_tables .box_titles{
    border-bottom: 2px solid #dddddd;
    padding: 10px 0;
    margin-bottom: 10px;
    position: relative;
    color: #29a9df;
    display: block;
    width: 100%;
}
.detail_boxes_tables .box_titles span{
    color: #000;
}
.detail_boxes_tables .box_content{
    color: #717171;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
}
.detail_boxes_tables .box_content span{
    color: #29a9df;
    background: #f2f2f2;
    margin: 0 10px;
}
.box_content .single img{
    margin-left: 10px;
}
.detail_boxes_tables .wpl_agent_info_l{
    display: inline-block;
    width: 100px;
}
.detail_boxes_tables .wpl_agent_info_l img{
    border: 1px solid #dddddd;
    width:100px;
    height:100px;
}
.wpl_agent_info_r{
    display: inline-block;
    margin-left: 10px;
}
.wpl_agent_info_r div{
    height: 25px;
}

.wpl_agent_info_r div .email_url{
    width: 120px;
}
.wpl_agent_info_r .name{
    color: #29a9df;
    font: italic bold 15px;
}
.wpl_rooms_list_container{
    width: 100%;
}
.rooms_item{
    width: 50%;
    padding: 0 !important;
}
.rooms_item .room_size{
    color: #29a9df;
    font-size: 10px;
}
.detail_box{
    display: block;
    width: 100%;
    border-spacing: 10px;
}
.detail_row{
    display: block;
}
.detail_l, .detail_r{
    display: inline-block;
    width: 49%;
    padding: 0 5px;
}
